*.dbml
*.dbml.layout
.vs/
db_QLCHBGB*
*.cache
BLL/bin/Debug/BLL.dll
BLL/bin/Debug/BLL.pdb
BLL/bin/Debug/DAL.dll
BLL/bin/Debug/DAL.pdb
BLL/obj/Debug/BLL.csproj.AssemblyReference.cache
BLL/obj/Debug/BLL.csproj.CoreCompileInputs.cache
BLL/obj/Debug/BLL.csproj.FileListAbsolute.txt
BLL/obj/Debug/BLL.dll
BLL/obj/Debug/BLL.pdb
BLL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DAL/bin/Debug/DAL.dll
DAL/bin/Debug/DAL.pdb
DAL/obj/Debug/DAL.csproj.AssemblyReference.cache
DAL/obj/Debug/DAL.csproj.CoreCompileInputs.cache
DAL/obj/Debug/DAL.csproj.FileListAbsolute.txt
DAL/obj/Debug/DAL.dll
DAL/obj/Debug/DAL.pdb
DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GUI/bin/Debug/BLL.dll
GUI/bin/Debug/BLL.pdb
GUI/bin/Debug/DAL.dll
GUI/bin/Debug/DAL.pdb
GUI/bin/Debug/GUI.exe
GUI/bin/Debug/GUI.pdb
GUI/bin/Debug/UC.dll
GUI/bin/Debug/UC.pdb
GUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
GUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GUI/obj/Debug/GUI.csproj.AssemblyReference.cache
GUI/obj/Debug/GUI.csproj.CoreCompileInputs.cache
GUI/obj/Debug/GUI.csproj.FileListAbsolute.txt
GUI/obj/Debug/GUI.csproj.GenerateResource.cache
GUI/obj/Debug/GUI.exe
GUI/obj/Debug/GUI.pdb
UC/bin/Debug/UC.dll
UC/bin/Debug/UC.pdb
UC/obj/Debug/UC.csproj.AssemblyReference.cache
UC/obj/Debug/UC.csproj.CoreCompileInputs.cache
UC/obj/Debug/UC.csproj.FileListAbsolute.txt
UC/obj/Debug/UC.csproj.GenerateResource.cache
UC/obj/Debug/UC.dll
UC/obj/Debug/UC.pdb
